/* header */
header {
    background-color:darkblue;
}
header h1 {}
header h1 a {}
header h1 a img {}
/* header-nav */
header nav {
    background-color:darkkhaki;
}
header nav ul {}
header nav ul li {}
header nav ul li a {}
header nav .lnb {}
header nav .lnb li {}
header nav .lnb li a {}
/* main */
main {}
main .breadcrumbs_bg {
    background-color:#f1f1f1;
}
main .breadcrumbs_bg .breadcrumbs {}
main .breadcrumbs_bg .breadcrumbs a {}
main .breadcrumbs_bg .breadcrumbs em {}
/* main-contents1 경영이념*/
main .contents1 {
    background-color:bisque;
}
main .contents1 h1 {}
main .contents1 p {}
/* main-contents2 설명*/
main .c2_bg {
    background-color:#f1f1f1;
}
main .c2_bg .contents2 {}
main .c2_bg .contents2 p {}
/* main-contents3 비전영역 */
main .contents3 {}
main .c2_bg .contents3 h2 {}
main .c2_bg .contents3 h2+p {}
/* main-contents4 goal, st*/
main .c4_bg {}
main .c4_bg .contents4 {
    background-color:#f1f1f1;
}
main .c4_bg .contents4 .c4_goal {}
main .c4_bg .contents4 .c4_goal h2 {}
main .c4_bg .contents4 .c4_goal .goal {}
main .c4_bg .contents4 .c4_goal .goal li {}
main .c4_bg .contents4 .c4_st {}
main .c4_bg .contents4 .c4_st h2 {}
main .c4_bg .contents4 .c4_st ul {}
main .c4_bg .contents4 .c4_st ul li {}
main .c4_bg .contents4 .c4_st ul li h3 {}
main .c4_bg .contents4 .c4_st ul li h3 em {}
main .c4_bg .contents4 .c4_st ul li p {}
/* footer */
footer {}
footer .f-top {}
footer .f-top .f-left {}
footer .f-top .f-left li {}
footer .f-top .f-left li a {}
footer .f-top .f-right {}
footer .f-top .f-right li {}
footer .f-top .f-right li a {}
footer .f-btm address {}
footer .f-btm p {}