/* snb 위치 */
.snb {
    background-color:white;
    width:30px;
    position:fixed;
    right:0px; bottom:350px;
}
.snb a:first-child {
    background-color:#ff7f50;
}
.snb a {
    border:1px solid #aaa;
    padding:5px;
    display:block;
    text-align:center;
}

.snb a img {}
/* header 위치 */
header {
    background-color:aqua;
}
header .event_bg {
    background-color:#cccc;
    padding:10px;
    height:35px;
}
header .event_bg p {
    text-align:center;
    
}
header .event_bg p em {
    background-color:darkkhaki;
    font-size:0.8333rem;
    font-weight:500;
    letter-spacing:-0.02em;
}
/* lnb 위치 */
header .logo_lnb {
    background-color:pink;
    width:1300px; height:100px;
    margin:0 auto;
}
header .logo_lnb h1 {
    width:130px; height:19px;
    float:left;
    margin:40.5px 0 0 584px;
}
header .logo_lnb h1 img {width:100%}
header .logo_lnb .lnb {
    float:right;
}
header .logo_lnb .lnb ul {
    float:left; margin-top:26px;
}
header .logo_lnb .lnb ul li {
    margin-left:10px;
    float:left;
}
header .logo_lnb .lnb ul li a { /* 무료배송쿠폰 */
    
}
header .logo_lnb .lnb ul li a {

}
header .logo_lnb .lnb ul li a span {
    letter-spacing:-0.02em;
    font-weight:500;
}
header .logo_lnb .lnb ul li a img {
    width:16px; height:16px;
}
/* nav 위치 */
header .logo_lnb nav {
    background-color:red;
float:left;
width:1300px; height:50px;
}
header .logo_lnb nav ul {
    
}
header .logo_lnb nav ul li:first-child {}
header .logo_lnb nav ul li {
    float:left;
    margin-left:15px; margin-top:16.5px;
}
header .logo_lnb nav ul li a {}
/* main 위치 */
main {}
/* bnr 위치 */
main .bnr {}
main .bnr .bnr_1 {}
main .bnr .bnr_1 a{}
main .bnr .bnr_1 a img{}
main .bnr .bnr_2 {}
main .bnr .bnr_2 a {}
main .bnr .bnr_2 a img {}
/* 상품위치 */
main .product {}
main .product .weekly_best {}
main .product .weekly_best .best {}
main .product .weekly_best .best a  {}
main .product .weekly_best .best a img  {}
main .product .weekly_best .best .best_price {}
main .product .weekly_best .best .best_price h2 {}
main .product .weekly_best .best .best_price p {}
main .product .weekly_best .best .best_price p em {}
main .product .weekly_best .best .best_info {}
main .product .weekly_best .best .best_info p {}
main .product .weekly_best .best .best_info p em {}
main .product .weekly_best .best .best_info p span {}
main .btm_bg {}
main .btm_bg h3 {}
main .btm_bg p {}
main .btm_bg p img {}
main .btm_bg p a {}
/* footer 위치 */
footer {}
footer .f_top {}
footer .f_top li {}
footer .f_btm {}

