/* header 선택자 */
header {
    background-color:burlywood;
    width:1200px; height:92px;
    margin:0 auto;
}
header h1 {
    width:60px; height:70px;
    margin:11px 0 0 20px;
    float:left;
}
header h1 a {}
header h1 a img {width:100%}
header nav {
    background-color:yellowgreen;
    margin:29px 0 0 234px;
    float:left;
}
header nav ul {}
header nav ul li {
    float:left;
}
header nav ul .active a {color:#36b4e5;}
header nav ul li a {
    padding-right:40px;
    font-size:1.2rem;
}
header nav ul li:last-child a {padding-right:0;}
header .lnb {
    background-color:blue;
    float:right;
    margin:39px 20px 0 0;
}
header .lnb li {
    float:left;
    margin-right:20px;
}
header .lnb li:last-child {margin-right:0;}
header .lnb li a {
    font-size:1.2rem;
}
header .lnb li span {
    width:1px; height:13px;
    background-color:#aaa;
    display:block; margin-top:3px;
}
/* main */
main {}
main .breadcrumbs_bg {}
main .breadcrumbs_bg .breadcrumbs {}
main .breadcrumbs_bg .breadcrumbs a {}
main .breadcrumbs_bg .breadcrumbs em {}
main .contents1 {}