main {
    background-color:rgba(0,0,0,0.8);
    padding:50px;
}
main .box {
    width:200px; height:200px;
    font-size:4rem;
    border:5px dashed #fff;
    border-radius:50%;
    text-align:center;
    line-height:200px;
    /* line-height값과 height값을 동일하게 작성하면 요소가 수직 중앙으로 온다(1행일 경우에만 가능) */
}
main .a {
    /* padding(안쪽여백)추가ㅏ 시 실제 크기에 변화를 주지 않는다. */
    box-sizing:border-box;
    background-color:pink;
    float:right;
    /* padding-right:50px; */
    /* width:150px; */
}
main .b {
    box-sizing:border-box;
    background-color:lemonchiffon;
    font-size:3rem;
    /* clear:both; */
    /* float:right; */
    /* height:170px; */
    /* padding-top:30px; */
}
main .c {
    /* clear:both; */
    /* float:none; */
    box-sizing:border-box;
    background-color:lavender;
    /* padding:10px 20px; */
    /* width:160px; height:180px; */
}