* {
    box-sizing:border-box;
    font-size: 16px; margin:0; padding:0;
    text-decoration:none; color:#000;
    list-style: none;
}
header {
    width:1200px; height:100px; margin:0 auto;
    background-color: antiquewhite;
    display: flex; justify-content: space-between;
    align-items: center;
}
header h1 {width:200px; height:40px; background: crimson;}
header nav {background: aquamarine; margin-right:20px;}
header nav > ul {
    display:flex;
}
header nav > ul > li {
    position:relative;
}
header nav > ul > li > a  {
    display: block; width:200px; line-height: 50px;
    text-align: center;
}
header nav > ul > li > .sub  {
    position:absolute; background: lightcoral;
    width:100%;
}
header nav > ul > li > .sub li {}
header nav > ul > li > .sub li a {
    display: block; line-height: 30px; text-align: center;
}